# Programming Project 2

#### US Presidents - Pre 20th Century

**Author:** Molly Rovinski
**Version:** 1.0
**Semester:** Fall 2020

**Goal:** To write a Python program that contains various functions to manipulate a small data set using features of lists, tuples, dictionaries, and sets.

In [52]:
Presidents = [['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
['John','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]]

In [53]:
print(Presidents)

[['George', 'Washington', 1789, 1797, 'VA', '2/22/1732', '12/14/1799', 57, 67], ['John', 'Adams1', 1797, 1801, 'MA', '10/30/1735', '7/4/1826', 61, 90], ['Thomas', 'Jefferson', 1801, 1809, 'VA', '4/13/1743', '7/4/1826', 57, 83], ['James', 'Madison', 1809, 1817, 'VA', '3/16/1751', '6/28/1836', 57, 85], ['James', 'Monroe', 1817, 1825, 'VA', '4/28/1758', '7/4/1831', 58, 73], ['John', 'Adams2', 1825, 1829, 'MA', '7/11/1767', '2/23/1848', 57, 80], ['Andrew', 'Jackson', 1829, 1837, 'SC', '3/15/1767', '6/8/1845', 61, 78], ['Martin', 'Van Buren', 1837, 1841, 'NY', '12/5/1782', '7/24/1862', 54, 79], ['William', 'Harrison1', 1841, 1841, 'VA', '2/9/1773', '4/4/1841', 68, 68], ['John', 'Tyler', 1841, 1845, 'VA', '3/29/1790', '1/18/1862', 51, 71], ['James', 'Polk', 1845, 1849, 'NC', '11/2/1795', '6/15/1849', 49, 53], ['Zachary', 'Taylor', 1849, 1850, 'VA', '11/24/1784', '7/9/1850', 64, 65], ['Millard', 'Fillmore', 1850, 1853, 'NY', '1/7/1800', '3/8/1874', 50, 74], ['Franklin', 'Pierce', 1853, 1857, 'NH', '11/23/1804', '10/8/1869', 48, 64], ['James', 'Buchanan', 1857, 1861, 'PA', '4/23/1791', '6/1/1868', 65, 77], ['Abraham', 'Lincoln', 1861, 1865, 'KY', '2/12/1809', '4/15/1865', 52, 56], ['Andrew', 'Johnson', 1865, 1869, 'NC', '12/29/1808', '7/31/1875', 56, 66], ['Ulysses', 'Grant', 1869, 1877, 'OH', '4/27/1822', '7/23/1885', 46, 63], ['Rutherford', 'Hayes', 1877, 1881, 'OH', '10/4/1822', '1/17/1893', 54, 70], ['James', 'Garfield', 1881, 1881, 'OH', '11/19/1831', '9/19/1881', 49, 49], ['Chester', 'Arthur', 1881, 1885, 'VT', '10/5/1829', '11/18/1886', 50, 56], ['Grover', 'Cleveland1', 1885, 1889, 'NJ', '3/18/1837', '6/24/1908', 47, 71], ['Benjamin', 'Harrison2', 1889, 1893, 'OH', '8/20/1833', '3/13/1901', 55, 67], ['Grover', 'Cleveland2', 1893, 1897, 'NJ', '3/18/1837', '6/24/1908', 55, 71]]

In [54]:
def extract_column(data,column): 
    """This function extracts certain columns from the data lists to create new lists of those elements."""
    ans = []
    for i in data:
        ans.append(i[column])
    return ans

In [55]:
first_name = extract_column(Presidents, 0)

In [56]:
print (first_name)

['George', 'John', 'Thomas', 'James', 'James', 'John', 'Andrew', 'Martin', 'William', 'John', 'James', 'Zachary', 'Millard', 'Franklin', 'James', 'Abraham', 'Andrew', 'Ulysses', 'Rutherford', 'James', 'Chester', 'Grover', 'Benjamin', 'Grover']

In [57]:
last_name = extract_column(Presidents,1)

In [58]:
print (last_name)

['Washington', 'Adams1', 'Jefferson', 'Madison', 'Monroe', 'Adams2', 'Jackson', 'Van Buren', 'Harrison1', 'Tyler', 'Polk', 'Taylor', 'Fillmore', 'Pierce', 'Buchanan', 'Lincoln', 'Johnson', 'Grant', 'Hayes', 'Garfield', 'Arthur', 'Cleveland1', 'Harrison2', 'Cleveland2']

In [59]:
start_term = extract_column(Presidents, 2)

In [60]:
print (start_term)

[1789, 1797, 1801, 1809, 1817, 1825, 1829, 1837, 1841, 1841, 1845, 1849, 1850, 1853, 1857, 1861, 1865, 1869, 1877, 1881, 1881, 1885, 1889, 1893]

In [61]:
end_term = extract_column (Presidents,3)

In [62]:
print (end_term)

[1797, 1801, 1809, 1817, 1825, 1829, 1837, 1841, 1841, 1845, 1849, 1850, 1853, 1857, 1861, 1865, 1869, 1877, 1881, 1881, 1885, 1889, 1893, 1897]

In [63]:
birth_state = extract_column(Presidents, 4)

In [64]:
print (birth_state)

['VA', 'MA', 'VA', 'VA', 'VA', 'MA', 'SC', 'NY', 'VA', 'VA', 'NC', 'VA', 'NY', 'NH', 'PA', 'KY', 'NC', 'OH', 'OH', 'OH', 'VT', 'NJ', 'OH', 'NJ']

In [65]:
birth_date = extract_column (Presidents, 5)

In [66]:
print (birth_date)

['2/22/1732', '10/30/1735', '4/13/1743', '3/16/1751', '4/28/1758', '7/11/1767', '3/15/1767', '12/5/1782', '2/9/1773', '3/29/1790', '11/2/1795', '11/24/1784', '1/7/1800', '11/23/1804', '4/23/1791', '2/12/1809', '12/29/1808', '4/27/1822', '10/4/1822', '11/19/1831', '10/5/1829', '3/18/1837', '8/20/1833', '3/18/1837']

In [67]:
death_date = extract_column (Presidents, 6)

In [68]:
print(death_date)

['12/14/1799', '7/4/1826', '7/4/1826', '6/28/1836', '7/4/1831', '2/23/1848', '6/8/1845', '7/24/1862', '4/4/1841', '1/18/1862', '6/15/1849', '7/9/1850', '3/8/1874', '10/8/1869', '6/1/1868', '4/15/1865', '7/31/1875', '7/23/1885', '1/17/1893', '9/19/1881', '11/18/1886', '6/24/1908', '3/13/1901', '6/24/1908']

In [69]:
inaug_age = extract_column (Presidents, 7)

In [70]:
print (inaug_age)

[57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 50, 47, 55, 55]

In [71]:
death_age = extract_column (Presidents, 8)

In [72]:
print (death_age)

[67, 90, 83, 85, 73, 80, 78, 79, 68, 71, 53, 65, 74, 64, 77, 56, 66, 63, 70, 49, 56, 71, 67, 71]

In [73]:
names = list(zip(last_name, first_name))

In [74]:
print (names)

[('Washington', 'George'), ('Adams1', 'John'), ('Jefferson', 'Thomas'), ('Madison', 'James'), ('Monroe', 'James'), ('Adams2', 'John'), ('Jackson', 'Andrew'), ('Van Buren', 'Martin'), ('Harrison1', 'William'), ('Tyler', 'John'), ('Polk', 'James'), ('Taylor', 'Zachary'), ('Fillmore', 'Millard'), ('Pierce', 'Franklin'), ('Buchanan', 'James'), ('Lincoln', 'Abraham'), ('Johnson', 'Andrew'), ('Grant', 'Ulysses'), ('Hayes', 'Rutherford'), ('Garfield', 'James'), ('Arthur', 'Chester'), ('Cleveland1', 'Grover'), ('Harrison2', 'Benjamin'), ('Cleveland2', 'Grover')]

In [75]:
sorted_names = sorted(names)

In [76]:
sorted_names

[('Adams1', 'John'),
 ('Adams2', 'John'),
 ('Arthur', 'Chester'),
 ('Buchanan', 'James'),
 ('Cleveland1', 'Grover'),
 ('Cleveland2', 'Grover'),
 ('Fillmore', 'Millard'),
 ('Garfield', 'James'),
 ('Grant', 'Ulysses'),
 ('Harrison1', 'William'),
 ('Harrison2', 'Benjamin'),
 ('Hayes', 'Rutherford'),
 ('Jackson', 'Andrew'),
 ('Jefferson', 'Thomas'),
 ('Johnson', 'Andrew'),
 ('Lincoln', 'Abraham'),
 ('Madison', 'James'),
 ('Monroe', 'James'),
 ('Pierce', 'Franklin'),
 ('Polk', 'James'),
 ('Taylor', 'Zachary'),
 ('Tyler', 'John'),
 ('Van Buren', 'Martin'),
 ('Washington', 'George')]

In [77]:
import statistics as stats
mean_inaug_age = stats.mean(inaug_age)
mean_death_age = stats.mean(death_age)

In [78]:
def get_post_term(data):
    """This function calculates how many years the President lived after they finished serving as President."""
    deathdate = int(data[6][len(data[6])-4:])
    return deathdate - data[3]

In [79]:
get_post_term(Presidents[0])

2

In [80]:
get_post_term(Presidents[1])

25

In [81]:
get_post_term(Presidents[2])

17

In [82]:
get_post_term(Presidents[3])

19

In [83]:
get_post_term(Presidents[4])

6

In [84]:
post_presidency = list(map(get_post_term, Presidents))

In [85]:
post_presidency

[2,
 25,
 17,
 19,
 6,
 19,
 8,
 21,
 0,
 17,
 0,
 0,
 21,
 12,
 7,
 0,
 6,
 8,
 12,
 0,
 1,
 19,
 8,
 11]

In [86]:
mean_post_presidency = stats.mean(post_presidency)

In [87]:
from prettytable import PrettyTable
def calculate_summary(data):
    """This function creates a pretty table for mean ages of the Presidents."""
    pt = PrettyTable()
    pt.field_names = ['Mean Age at Inauguration','Mean Age at Death','Mean Number of Years after Presidency']
    pt.add_row ([f'{mean_inaug_age:.2F} years', f'{mean_death_age:.2F} years', f'{mean_post_presidency:.2F} years'])
    print (pt)

In [88]:
calculate_summary(Presidents)

+--------------------------+-------------------+---------------------------------------+
| Mean Age at Inauguration | Mean Age at Death | Mean Number of Years after Presidency |
+--------------------------+-------------------+---------------------------------------+
|       55.04 years        |    69.83 years    |               9.96 years              |
+--------------------------+-------------------+---------------------------------------+

In [89]:
def convert_to_dict(data):
    """This function converts the President's name and death age to a dictionary."""
    x = []
    for i in data:
        x.append((i[1], i[8]))
    return dict(x)

In [90]:
prez_dict = convert_to_dict(Presidents)

In [91]:
prez_dict

{'Washington': 67,
 'Adams1': 90,
 'Jefferson': 83,
 'Madison': 85,
 'Monroe': 73,
 'Adams2': 80,
 'Jackson': 78,
 'Van Buren': 79,
 'Harrison1': 68,
 'Tyler': 71,
 'Polk': 53,
 'Taylor': 65,
 'Fillmore': 74,
 'Pierce': 64,
 'Buchanan': 77,
 'Lincoln': 56,
 'Johnson': 66,
 'Grant': 63,
 'Hayes': 70,
 'Garfield': 49,
 'Arthur': 56,
 'Cleveland1': 71,
 'Harrison2': 67,
 'Cleveland2': 71}

**Bonus A:** Write a function that accepts the dictionary from Step 12.

In [92]:
def prez_dates(data): 
    """This function prints the President's death age."""
    for i in prez_dict.keys():
        print("President", i, "died at", prez_dict[i], "years old.")

In [51]:
prez_dates(prez_dict)

President Washington died at 67 years old.
President Adams1 died at 90 years old.
President Jefferson died at 83 years old.
President Madison died at 85 years old.
President Monroe died at 73 years old.
President Adams2 died at 80 years old.
President Jackson died at 78 years old.
President Van Buren died at 79 years old.
President Harrison1 died at 68 years old.
President Tyler died at 71 years old.
President Polk died at 53 years old.
President Taylor died at 65 years old.
President Fillmore died at 74 years old.
President Pierce died at 64 years old.
President Buchanan died at 77 years old.
President Lincoln died at 56 years old.
President Johnson died at 66 years old.
President Grant died at 63 years old.
President Hayes died at 70 years old.
President Garfield died at 49 years old.
President Arthur died at 56 years old.
President Cleveland1 died at 71 years old.
President Harrison2 died at 67 years old.
President Cleveland2 died at 71 years old.